{% extends "base.html.twig" %}

{% block title %}Products{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('product_add') }}" role="button" class="btn btn-sm btn-outline-success">Add Product</a>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="table-responsive ">
        <table class="table table-striped table-sm" id="product-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Client</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Removed</th>
                <th>Removed On</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {# @var product \AppBundle\Entity\Product #}
            {% for product in products %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('product_modify', {'id': product.id}) }}">{{ product.name }}</a></td>
                {% else %}
                    <td>{{ product.name }}</a></td>
                {% endif %}
                <td>{{ product.client.name }}</td>
                <td>{{ product.createdOn|date('Y-m-d') }}</td>
                <td>{{ product.createdBy }}</td>
                <td>{{ product.removedOn ? product.removedOn|date('Y-m-d') }}</td>
                <td>{{ product.removedBy }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    {% if product.removedOn is not null %}
                        <td><a href="{{ path('product_restore', {'id': product.id}) }}"><i class="fas fa-undo text-success"></i></a></td>
                    {% else %}
                        <td><a href="{{ path('product_remove', {'id': product.id}) }}"><i class="fas fa-trash text-danger"></i></a></td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}

    <script>
        // todo export pdf excel csv, no sort or search delete last row if exits
        $('#product-table').DataTable({
            dom: 'Blfrtip',
            columnDefs:[
                {% if is_granted('ROLE_ADMIN') %}
                {'orderable': false,'searchable':false, targets: 6}
                {% endif %}
            ],
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    </script>
{% endblock %}