{% extends "base.html.twig" %}

{% block title %}Products{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('product_add') }}" role="button" class="btn btn-sm btn-outline-success">Add Product</a>
                <button type="button" class="btn btn-sm btn-outline-secondary disabled">Export</button>
            </div>
        </div>
    </div>


    <div class="table-responsive ">
        <table class="table table-striped table-sm" id="product-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Client</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Removed</th>
                <th>Removed On</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {# @var product \AppBundle\Entity\Product #}
            {% for product in products %}
            <tr>
                <td><a href="{{ path('product_modify', {'id': product.id}) }}">{{ product.name }}</a></td>
                <td>{{ product.client.name }}</td>
                <td>{{ product.createdOn|date('Y-m-d') }}</td>
                <td>{{ product.createdBy }}</td>
                <td>{{ product.removedOn ? product.removedOn|date('Y-m-d') }}</td>
                <td>{{ product.removedBy }}</td>
                <td><a href="{{ path('product_remove', {'id': product.id}) }}"><i class="fas fa-trash text-danger"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $('#product-table').DataTable();
    </script>
{% endblock %}