{% extends "base.html.twig" %}

{% block title %}Client List{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Clients</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('client_add') }}" role="button" class="btn btn-sm btn-outline-success">Add Client</a>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="table-responsive ">
        <table class="table table-striped table-sm apply-datatables" id="client-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address One</th>
                <th>Address One</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Active</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Removed By</th>
                <th>Removed On</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {# @var client \AppBundle\Entity\Client #}
            {% for client in clients %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('client_modify', {'id': client.id}) }}">{{ client.name }}</a></td>
                {% else %}
                    <td>{{ client.name }}</td>
                {% endif %}
                <td>{{ client.addressOne }}</td>
                <td>{{ client.addressTwo }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.state }}</td>
                <td>{{ client.zipFive }}</td>
                <td>{{ client.isActive ? 'Yes':'No' }}</td>
                <td>{{ client.createdBy }}</td>
                <td>{{ client.createdOn|date('Y-m-d') }}</td>
                <td>{{ client.removedBy }}</td>
                <td>{{ client.removedOn? client.removedOn|date('Y-m-d') }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    {% if client.removedOn is not null %}
                        <td><a href="{{ path('client_restore', {'id': client.id}) }}"><i class="fas fa-undo text-success"></i></a></td>
                    {% else %}
                        <td><a href="{{ path('client_remove', {'id': client.id}) }}"><i class="fas fa-trash text-danger"></i></a></td>
                    {% endif %}
                {% endif %}

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#client-table').DataTable({
            dom: 'Blfrtip',
            columnDefs: [
                {% if is_granted('ROLE_ADMIN') %}
                {'orderable': false, 'searchable': false, targets: 11}
                {% endif %}
            ],
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    </script>
{% endblock %}