{% extends "base.html.twig" %}

{% block title %}Service Providers{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block mainContent %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Service Providers</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('serviceProvider_add') }}" role="button" class="btn btn-sm btn-outline-success">Add Service Provider</a>
                <button type="button" class="btn btn-sm btn-outline-secondary disabled">Export</button>
            </div>
        </div>
    </div>


    <div class="table-responsive ">
        <table class="table table-striped table-sm apply-datatables" id="client-table">
            <thead>
            <tr>
                <th>Provider</th>
                <th>Shortcode</th>
                <th>Active</th>
                <th>Created On</th>
                <th>Created By</th>
                <th>Removed On</th>
                <th>Removed By</th>
            </tr>
            </thead>
            <tbody>
            {# @var provider \AppBundle\Entity\ServiceProvider #}
            {% for provider in serviceProviders %}
            <tr>
                <td><a href="{{ path('serviceProvider_modify', {'id': provider.id}) }}">{{ provider.provider }}</a></td>
                <td>{{ provider.shortcode }}</td>
                <td>{{ provider.active? 'Yes':'No' }}</td>
                <td>{{ provider.createdOn|date('Y-m-d') }}</td>
                <td>{{ provider.createdBy }}</td>
                <td>{{ provider.removedOn? provider.removedOn|date('Y-m-d') }}</td>
                <td>{{ provider.removedBy }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $('#client-table').DataTable();
    </script>
{% endblock %}